
/* 
// Variables declaration 
*/

// Colors 

$color_white: #fff;
$color_grey_light: #F5F6F8;
$color_grey_medium: #E5E5E5;
$color_grey: #999;
$color_grey_dark: #29303B;
$color_yellow: #FED330;

// text size 

$textsize_small: 1.4rem;
$textsize_medium: 1.8rem;
$textsize_regular: 2.2rem;
$textsize_big: 3.0rem;

/* 
// Init values
*/

html
{
  font-size: 62.5%;
  font-family: Roboto;
  color: $color_grey_dark;
}

/* 
// Start desktop version 
*/

.body
{
  margin: 0;
  padding: 0;
  .header
  {
    .container--menu
    {
      .nav--top
      {
        .container--logo
        {
          width: 300px;
          margin: auto;
          .logo__img
          {
            width: 300px;
          }
        }
        .container--social
        {
          position: absolute;
          right: 5%;
          top: 8%;
          .link
          {
            text-decoration: none;
            .logo
            {
              width: 16px;
              height: 16px;
              margin-left: 8px;
            }
          }
        }
      }
      .nav--bot
      {
        border-top: $color_grey_medium solid 1px;
        border-bottom: $color_grey_medium solid 1px;
        .content
        {
          width: 90%;
          margin: auto;
          display: flex;
          justify-content: space-between;
          .container--link
          {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .link
            {
              text-decoration: none;
              margin-right: 36px;
              .text
              {
                font-size: $textsize_medium;
                text-transform: uppercase;
                color: $color_grey_dark;
              }
              .logo
              {
                width: 20px;
                height: 20px;
              }
            }
          }
          .container--shearch
          {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo
            {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
  .main--home
  {
    background-color: $color_grey_light;
    .content
    {
      width: 90%;
      background-color: $color_white;
      margin: auto;
      .container--main
      {
        overflow: hidden;
        width: 90%;
        margin: auto;
        .container--sondage
        {
          .sondage__title
          {
            font-size: $textsize_regular;
          }
          .sondage__ask
          {
            font-size: $textsize_medium;
            margin-bottom: 36px;
          }
          .answer
          {
            .choice
            {
              width: 30%;
              margin: auto;
              display: flex;
              justify-content: space-between;
              .button--yes
              {
                width: 164px;
                height: 40px;
                background-color: $color_grey_light;                
                border: solid 1px $color_grey_dark;
                display: flex;
                justify-content: space-around;
                align-items: center;
                .button__text
                {
                  font-size: $textsize_regular;
                }
              }
              .button--yes:hover, .button--no:hover
              {
                cursor: pointer;
              }
              .button--no
              {
                width: 164px;
                height: 40px;
                background-color: $color_grey_light;
                border: solid 1px $color_grey_dark;
                display: flex;
                justify-content: space-around;
                align-items: center;
                .button__text
                {
                  font-size: $textsize_regular;
                }
              }
            }
            .button--validate:hover
            {
              cursor: pointer;
              color: $color_white;
            }
            .button--validate
            {
              width: 30%;
              height: 40px;
              background-color: $color_yellow;
              margin: auto;
              display: flex;
              justify-content: center;
              align-items: center;
              box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
              margin-top: 36px;
              .button__text
              {
                margin: 0%;
                font-size: $textsize_regular;
              }
            }
          }
        }
        .article--last
        {
          border-top: $color_grey_dark 1px solid;
          border-bottom: $color_grey_dark 1px solid;
          margin-top: 36px; 
          padding-top: 36px; 
          padding-bottom: 36px; 
          .article
          {
            display: flex;
            justify-content: space-between;
            .container--img
            {
              width: 1400px;
              height: 300px;
              overflow: hidden;
              margin-right: 16px;
              .article__link
              {
                .preview
                {
                  width: 100%;
                }
              }
            }
            .content--text
            {
              .article__title
              {
                margin: 0%;
                font-size: $textsize_big;
              }
              .article__description
              {
                font-size: $textsize_medium;
                color: $color_grey;
              }
              .article__network
              {
                display: flex;
                justify-content: space-between;
                .hastag
                {
                  display: flex;
                  justify-content: space-between;
                  .text
                  {
                    font-size: $textsize_medium;
                    color: $color_grey_dark;
                    margin-right: 16px;
                  }
                }
                .popularity
                {
                  display: flex;
                  justify-content: space-between;
                  .comment
                  {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-right: 16px;
                    .number
                    {
                      font-size: $textsize_small;
                      margin-right: 8px;
                    }
                  }
                  .like
                  {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .number
                    {
                      margin-right: 8px;
                      font-size: $textsize_small;
                    }
                  }
                }
              }
            }
          }
        }
        .article--all
        {
          margin-top: 66px;
          .double
          {
            margin-top: 18px;
            display: flex;
            justify-content: space-between;
            .article
            {
              width: 30%;
              .article__illu
              {
                height: 200px;
                width: 100%;
                background-color: $color_grey_medium;
                overflow: hidden;
                position: relative;
                .illu
                {
                  width: 100%;
                  height: 100%;
                }
              }
              .article__content
              {
                .title
                {
                  margin: 0%;
                  font-size: 26px;
                }
                .description
                {
                  font-size: $textsize_medium;
                }
              }
            }
          }
        }
        .show--more
        {
          margin-bottom: 66px;
          .button:hover
          {
            cursor: pointer;
          }
          .button
          {
            width: 40%;
            height: 40px;
            background-color: $color_yellow;
            margin: auto;
            margin-top: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
            .text
            {
              margin: 0%;
              font-size: $textsize_regular;
            }
          }
        }
      }
    }
  }
  .footer
  {
    margin-bottom: 0;
    font-size: $textsize_medium;
    background-color: $color_grey_light;
    .content
    {
      background-color: $color_white;
      width: 90%;
      margin: auto;
      .menu
      {
        width: 90%;
        margin: auto;
        border-top: solid 1px $color_grey_dark;
        display: flex;
        justify-content: space-around;
      }
      .cr
      {
        width: 90%;
        margin: auto;
        background-color: $color_white;
        margin-bottom: 0;
      }
    }
  }
  .main--article-last
  {
    .content
    {

      h1 {
        font-size: 2em;
        text-align: center;
        margin-top: 30%;
      }
      section {
        padding: 3em;
        height: 100vh;
        position: relative;
        box-sizing: border-box;
        
        blockquote {
          font-size: 2.3em;
          width: 30%;
          margin-top: 17%;
          position: absolute;
          
          span {
            width: 100%;
            background: red;
            display: block;
            height: 5px;
            margin-top: 20px;
          }
        }
        
        img {
          position: absolute;
        }
        
        img:nth-of-type(1) {
          width: 40%;
          right: 0;
          top: 20%;
        }
        img:nth-of-type(2) {
          width: 25%;
          right: 40%;
          top: 29%;
          margin-top: 15%;
        }
      }
      section:nth-child(odd) {
        background: #f1f1f1;
      }
      .sticky {
        background: white !important;
      }
      
      .percentage {
        position: absolute;
        bottom: 10px;
        left: 10px;
      }
      
      #box {
        width: 100px;
        height: 100px;
        position: absolute;
        border: 5px solid lightgray;
        margin: auto;
        top: 0; left: 0; bottom: 0; right: 0;
      }
    }
  }
}